body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: monospace;
}

header, section{
  text-align: center;
}

nav a{
  padding: 0px 10px 0px 10px;
  align-items: center;
  background-color: grey;
}
p{
  margin-top: 2%;
}

figcaption{
  font-size: 10px;
  align-items: center;
}

#featured-property{
  align-items: center;
}

#featured-property p{
  margin-left: 20%;
  width: 800px;
}
#details  div{
  float: left;
  background: red;
  width: 25%;
  text-align: center;
  font-size: 15px;;
}